In [62]:
import pandas as pd

In [63]:
df = pd.read_csv("train_data.csv",header=None,sep='\t',names=['status','action','reward','done','status-'])

In [71]:
df[df['status'] == str([[0, 0, 0, 4], [2, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 4]])]

,status,action,reward,done,status-
8239,"[[0, 0, 0, 4], [2, 0, 0, 0], [0, 0, 0, 0], [0,...",a,0,False,"[[4, 0, 0, 0], [2, 4, 0, 0], [0, 0, 0, 0], [4,..."

In [65]:
df['done'].value_counts()

False    33431
True       387
Name: done, dtype: int64

In [67]:
df.groupby("action").mean()

          reward      done
action
a       0.152323  0.010375
d       0.764355  0.010245
s      -3.674991  0.011138
w      -3.243076  0.014026

In [48]:
import random
from GameEnv import Game2048
gameEnv = Game2048()

In [70]:
i = random.randint(0,len(df))

gameEnv.display(eval(df['status'].tolist()[i]))
print (df['action'].tolist()[i])
gameEnv.display(eval(df['status-'].tolist()[i]))

8	 2	 32	 2

16	 8	 128	 16

8	 16	 -	 4

4	 8	 -	 2

a
8	 2	 32	 2

16	 8	 128	 16

8	 16	 4	 -

4	 8	 2	 4